REDIS_URL=redis://redis:6379/0
MONGODB_URL=mongodb://mongodb:27017
MONGO_EXPRESS_USER=secret
MONGO_EXPRESS_PASSWORD=secret
REDIS_COMMANDER_HTTP_USER=secret
REDIS_COMMANDER_HTTP_PASSWORD=secret
AML_KEK_B64=yfUjB1985BhQj99E3N6lr0K98GMGxdsUWIz5Ln25i6U=
CSRF_SECRET=secret
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_SSL=false
SMTP_STARTTLS=true
SMTP_TIMEOUT_S=10
EMAIL_ADDRESS=fsdfdsfsdf76@gmail.co
EMAIL_PASSWORD=ghkgceicszvnfrpk